.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 40px;
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
}

.cart-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.review-btn {
    border: none;
    width: 100%;
    padding: 7px 15px;
    margin-top: 10px;
    background-color: #FF9900;
    color: white;
}

.review-btn:hover {
    background-color: #8a5505;
}


/* Responsive */
@media screen and (max-width: 912px) {
    .shop-container {
        grid-template-columns: 3fr 2fr;
    }

    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 912px) and (max-width: 1190px) {
    .shop-container {
        grid-template-columns: 4fr 1fr;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}